*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    line-height:1.6;
}

header{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:50px;
}

.hero img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
}

.btn{
    display:inline-block;
    margin-top:20px;
    background:#2563eb;
    color:white;
    padding:12px 20px;
    text-decoration:none;
    border-radius:5px;
}

section{
    padding:50px;
}

.card,
.project-card{
    background:#f4f4f4;
    padding:20px;
    margin:15px 0;
    border-radius:10px;
}

.skill{
    margin:15px 0;
}

.bar{
    background:#ddd;
    height:15px;
    border-radius:10px;
}

.bar span{
    display:block;
    height:100%;
    background:#2563eb;
    border-radius:10px;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        text-align:center;
    }

    nav ul{
        flex-direction:column;
    }

    nav ul li{
        margin:10px 0;
    }
}